<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <header id="page_header">
        <h1><%= title %></h1>
    </header>
    <div class="container">
      <section id="tags">
        <% links_group_by(:tag).each do |tag, links| %>
          <article class="tag">
            <header>
              <h2 id="tag_<%= tag %>"><%= tag %></h2>
            </header>
            <table>
              <thead>
                <tr><th>URL</th><th>Description</th></tr>
              </thead>
              <tbody>
                <% links.each do |link| %>
                  <tr>
                    <td width="30%"><a target="_blank" href="<%= link.url %>">
                        <%= link.title %></a>
                    </td>
                    <td><%= link.description %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </article>
        <% end %>
      </section>
      <section id="sidebar">
        <article class="tag_list">
          <header class="tag_list">
            <h2>Tags</h2>
          </header>
          <ul>
            <% link_attribute_list(:tag).each do |tag| %>
              <li><a href="#tag_<%= tag %>"><%= tag %></a>
            <% end %>
          </ul>
        </article>
      </section>
    </div>
    <footer id="page_footer">
      <ul>
        <li>Copyright &copy; 2015 Sugar Your Coffee</li>
        <li>Created at <%= Time.now %> by syclink</li>
      </ul>
    </footer>
  </body>
</html>
